@mixin SideNav 
{
 
    .navbar{
        position: relative;
        .logo{
            position: absolute;
            right: 0;
            img{
                padding-top: 25px;
                height: 70px;
            }
        }
        .hamburger{
            position: fixed;
            cursor: pointer;
            z-index: 2;

            .line{
                width: 30px;
                height: 3px;
                background:var(--black);
                margin: 5px;
            }
    
            .line1{
                width: 20px;
                height: 3px;
                background:var(--black);
                margin: 5px;
            }
        }

        nav{
            position: relative;

            .nav-links{
                position: fixed;
                background:var(--pink);
                height: 100vh;
                width: 100%;
                flex-direction: column;
                justify-content: space-evenly;
                top: 0;
                left: 0;
                padding: 80px;
                text-align: center;
                clip-path: circle(100px at -9% -27%);
                -webkit-clip-path: circle(100px at -9% -27%);
                transition: all 1s ease-out;
            }

            .nav-links.open
            {
                clip-path: circle(1650px at -9% -27%);
                -webkit-clip-path: circle(1650px at -9% -27%);
            }
        }
        
    }   
}